---
import AssetImage from '@components/team/AssetImage.astro'

const { tall = false } = Astro.props;
---
<div class="flex flex-col w-full">
    <AssetImage
      src="/src/assets/blog/tesla-sphere-inverted.png"
      alt="Something"
      class={ "object-cover " + (tall ? "h-52" : "h-32") }
      />
    <h3>My Title</h3>
    <p class="font-extralight text-sm">
        My description.
        <br>
        It has many lines.
        <br>
        This is one of them
    </p>
</div>
