---
const { title } = Astro.props;
---
<div class="grid grid-cols-1 md:grid-cols-2 py-20 gap-10 md:gap-20">
    <div class="flex flex-col gap-4">
        <h1 class="text-6xl">{title}</h1>
        <div class="font-extralight">
            <slot name="blurb" />
        </div>
    </div>
    <slot />
</div>
