.m-b {
  margin-bottom: 1em;
}

button,
input,
select,
textarea {
  margin: 0;
}

.help.is-danger {
  color: #ff3860;
}
.help {
  display: block;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.select {
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: top;
}

.button,
.input,
.select select,
.textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
}

.input,
.select select,
.textarea {
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
  font-weight: 300;
}

.select select {
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: 0;
}

.input,
.textarea {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
}

.label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 600;
}

.label:not(:last-child) {
  margin-bottom: 0.5em;
}

.select select:not([multiple]) {
  padding-right: 2.5em;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: ' ';
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  width: 0.625em;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #3273dc;
  right: 1.125em;
  z-index: 4;
}

@media screen and (max-width: 600px) {
  .logo-mobile img {
    width: 30%;
  }
}
