---
// 1. Source profile data from your profile file
import * as myData from '../../data/people/joe.md'

// 2. Extract the fields you are planning to use in your profile page.
// NOTE: This won't error if properties are missing
const { code, jobTitle, fullName } = myData.frontmatter

// 3. Import any components you need
import ProfilePage from '@components/team/ProfilePage.astro'
import { BlogCard } from '@components/BlogCard'
import BlockQuote from '@components/BlockQuote.astro'
import TwoColumnSection from '@components/team/TwoColumnSection.astro'
import Section from '@components/team/Section.astro'
import GallerySection from '@components/team/GallerySection.astro'
import GalleryImage from '@components/team/GalleryImage.astro'
import AssetImage from '@components/team/AssetImage.astro'
import GreetingSection from '@components/team/GreetingSection.astro'
import QuoteSection from '@components/team/QuoteSection.astro'
import LatestBlogsSection from '@components/team/LatestBlogsSection.astro'
import ResourceCollectionSection from '@components/team/ResourceCollectionSection.astro'
import ContactSection from '@components/team/ContactSection.astro'
import { GithubIcon } from '@components/Icons'
import SmallTitle from '@components/team/SmallTitle.astro'
import SimpleColumn from '@components/team/SimpleColumn.astro'
import FeatureSection from '@components/team/FeatureSection.astro'
import FeatureText from '@components/team/FeatureText.astro'
import FeatureYouTube from '@components/team/FeatureYouTube.astro'
import MeetOtherExecs from '@components/team/MeetOtherExecs.astro'

description: 'Meet Joe Littlejohn, a software delivery expert with over 20 years of experience in professional software engineering. Learn about his expertise in architecture analysis, cloud-native design, and functional programming with JVM languages.'
---

<ProfilePage title={fullName + ' - ' + jobTitle}>
  <GreetingSection {...myData.frontmatter}>
    <Fragment slot='expert-in'>
      <li>Architecture analysis and review</li>
      <li>Cloud-native design</li>
      <li>Roadmapping and getting to MVP</li>
      <li>Functional programming, JVM languages</li>
    </Fragment>
    <Fragment slot='bio'>
      I'm a software delivery expert with two decades of professional software
      engineering experience. I started programming in Commodore BASIC on the
      C64, but my professional work has been mostly using JVM languages.
    </Fragment>
  </GreetingSection>

  <FeatureSection shrinkMobile={false}>
    <AssetImage
      slot='image'
      src='/src/assets/team/profiles/joe/4.jpg'
      width={800}
      alt=''
    />

    <FeatureText bgColor='orange' title='Customer Feedback'>
      <SimpleColumn>
        <BlockQuote author='Rice Lake Weighing Systems'>
          I appreciated communicating with Joe. He would provide valuable
          insight that helped us in critical decisions.
        </BlockQuote>
        <BlockQuote author='Excel Energy Services'>
          [Joe's] communication followed by execution is beyond impressive.
        </BlockQuote>
        <BlockQuote author='Jamie Robertson, CEO, Invisible Systems'>
          Joe is held in high esteem as an engineer and technology leader across
          his peer group. Having worked with Joe across two software-led
          businesses - his thought process, approach to problems and composed
          style; provide direction, confidence, and reassurance across a team
          and organisation.
        </BlockQuote>
      </SimpleColumn>
    </FeatureText>
  </FeatureSection>

  <FeatureSection flip={true}>
    <FeatureText
      title='Platform Engineering and Internal Developer Platforms'
      subtitle="Joe's latest JUXTCast podcast episode, November 2023"
      bgColor='yellow'
    >
      <SimpleColumn>
        <p>
          In this episode of JUXTCast, Joe Littlejohn was joined by JUXT
          engineers Aaron Knauf and Mariusz Saternus to talk about Platform
          Engineering, and delivering effective developer platforms in large
          organizations.
        </p>
      </SimpleColumn>
    </FeatureText>

    <FeatureYouTube
      slot='image'
      title='Building A Secure API Platform: A Data-driven Approach'
      embedUrl='https://www.youtube.com/embed/uFWO2chGZOs'
    />
  </FeatureSection>

  <MeetOtherExecs {...myData.frontmatter} />

  <ContactSection {...myData.frontmatter} />

  <LatestBlogsSection
    bgColor='yellow'
    title="Joe's Blogs & Articles"
    hidePodcasts='true'
    {...myData.frontmatter}
  />
</ProfilePage>
