---
import { Image } from 'astro:assets'
import Layout from '@layouts/Layout.astro'
import SocialMediaPost from '@components/team/SocialMediaPost.astro'

import jdt from '../../assets/team/headshots/jdt.png'
import joe from '../../assets/team/headshots/joe.png'
import jon from '../../assets/team/headshots/jon.png'
import mal from '../../assets/team/headshots/mal.png'

import tmp_rectangle from '../../assets/blog/akvocollage.png'

---

<Layout navbar title="Jon Pither - CEO">
    <div class='bg-zinc-900 text-white text-xs'>

        <div class='px-10 grid grid-cols-2'>
            <div class='py-20'>
                <h1 class="text-5xl font-bold">I am Joe Littlejohn</h1>
                <h2 class="justify-end text-3xl font-medium">Head of Delivery</h2>

                <h2 class="pt-5 text-3xl font-medium">Expert In</h2>
                <ul class="list-disc list-inside text-lg font-medium">
                    <li>Architecture analysis and review</li>
                    <li>Cloud-native design</li>
                    <li>Roadmapping and getting to MVP</li>
                    <li>Unblocking teams</li>
                    <li>Functional programming, JVM languages</li>
                </ul>

                <h3 class="pt-5 text-xl font-medium">About me</h3>
                <p>
                    Joe Littlejohn is a deliver expert with two decades of software engineering experience.
                    He has led projects across a wide variety of industries, including Fintech, HR, smart
                    devices, and entertainment, in both small startups and blue-chip companies like Nokia,
                    Microsoft, and Experian. Joe has built data-intensive cloud systems at global scale in
                    the B2B and B2C space, and has been using lean and agile methods since the mid 00s.
                </p>
            </div>
            <div class="grid grid-cols-1 place-content-center">
                <!-- TODO: Make a component, or just bake into the images 😅 -->
                <div class="relative w-96 h-96">
                    <!-- Tall -->
                    <div class="absolute bottom-0 right-0 bg-amber-300 rounded-full w-1/2 h-full"></div>
                    <!-- Stout -->
                    <div class="absolute bottom-0 right-1/3 bg-orange-200 rounded-full w-1/2 h-[70%]"></div>
                    <!-- Lazy -->
                    <div class="absolute bottom-0 left-0 bg-orange-400 rounded-full w-2/3 h-1/4"></div>
                    <Image class="absolute bottom-0 w-[90%] h-[90%]"
                           src={jdt} alt="" />
                </div>
            </div>
        </div>

        <div class="px-10 py-20 bg-[#b76330] grid grid-cols-2 gap-4">
            <div>
                <p>
                    [Highlight specific accomplishments, projects, or milestones that showcase the
                    expert's expertise and impact. Share results and outcomes achieved.]
                    [Provide examples of how the expert has directly contributed to your company's or clients' success.]
                </p>

                <h2 class="pt-10 text-xl font-medium">Why Joe?</h2>
                <p>
                    [Explain why clients should trust and collaborate with this expert.]
                </p>

                <ul class="list-disc list-inside">
                    <li>Proven Track Record: [Discuss the expert's history of delivering successful outcomes and solving complex challenges.]</li>
                    <li>Industry Recognition: [Mention any awards, honors, or industry affiliations that demonstrate the expert's credibility.]</li>
                    <li>Client Testimonials: [Include positive feedback or testimonials from satisfied clients or colleagues who have worked with the expert.]</li>
                </ul>
            </div>
            <!-- TODO: Replace w/ big rectangle -->
            <Image src={tmp_rectangle} alt="" />
        </div>

        <div class="px-10 py-40 bg-black">
            <blockquote>
                <p class="text-xl font-medium text-center">
                    "Lorem ipsum dolor sit amet, consetetur sadipscing etir, sed diam
                    nonumy eirmod tempor invidunt ut labore et dolore magna"
                </p>
            </blockquote>
            <p class="pt-10 text-2xl font-medium text-center">
                Name, Title, Company
            </p>
        </div>

        <div class="px-10 pt-60 grid grid-cols-2 gap-4">
            <div>
                <h3 class="text-xl font-medium">The Latest SM</h3>
                <p>
                    [By integrating these social media into these profile pages, you provide visitors
                    with real-time access to the experts' latest social media posts and activities.
                    This can help demonstrate their engagement and thought leadership in the
                    field, adding credibility to their expertise. Additionally, it encourages visitors to connect with and follow your experts on social media, enhancing engagement and building relationships.]
                </p>
            </div>

            <!-- TODO: Replace w/ video -->
            <Image src={tmp_rectangle} alt="">
        </div>

        <div class="px-10 py-40 grid grid-cols-4 gap-4">
            <SocialMediaPost />
            <SocialMediaPost />
            <SocialMediaPost />
            <SocialMediaPost />
        </div>

        <div class="px-10 py-20 bg-[#b76330]">
            <h3 class="text-xl font-medium">Previous Works</h3>
            <p class="pb-10">
                [downloadable assets that experts can offer on their pages to provide value to visitors and showcase their expertise.]
            </p>

            {
            ["Podcast", "Webinar", "White Papers", "Tools and Software", "Ebooks"]
                .map(item => (
            <div class="grid grid-cols-2">
                <h4 class="text-lg col-span-2">{item}</h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="flex justify-end">
                    <button class="rounded-full bg-zinc-800 w-20 px-3 py-3">View</button>
                </div>
                <hr class="border-black my-5 col-span-2" />
            </div>
            ))
            }
        </div>

        <div class="p-10 grid grid-cols-2">
            <div>
                <h3 class="text-xl font-medium">Get in Touch</h3>
                <p>
                    We are very approachable and would love to speak to you.
                    Feel free to call, email, tweet or send us a message.
                </p>

                <div class="pt-10 grid grid-cols-2 gap-4">
                    <div class="rounded-full bg-amber-500 w-10 h-10"></div>
                    <p>---</p>
                    <div class="rounded-full bg-amber-500 w-10 h-10"></div>
                    <p>joe@juxt.com</p>
                    <div class="rounded-full bg-amber-500 w-10 h-10"></div>
                    <p>@joelittlejohn</p>
                    <div class="rounded-full bg-amber-500 w-10 h-10"></div>
                    <p>Joe Littlejohn</p>
                    <div class="rounded-full bg-amber-500 w-10 h-10"></div>
                    <p>joelittlejohn</p>
                </div>
            </div>
            <div>
                TODO: Reuse existing form
            </div>
        </div>

    </div>
</Layout>
