---
// 1. Source profile data from your profile file
import * as myData from '../../data/people/mal.md'

// 2. Extract the fields you are planning to use in your profile page.
// NOTE: This won't error if properties are missing
const { code, jobTitle, fullName } = myData.frontmatter;

// 3. Import any components you need
import { getImage, Image } from 'astro:assets'
import ProfilePage from '@components/team/ProfilePage.astro'

import Section from '@components/team/Section.astro'
import TwoColumnSection from '@components/team/TwoColumnSection.astro'
import GreetingSection from '@components/team/GreetingSection.astro'
import QuoteSection from '@components/team/QuoteSection.astro'
import LatestBlogsSection from '@components/team/LatestBlogsSection.astro'
import ResourceCollectionSection from '@components/team/ResourceCollectionSection.astro'
import GitHubRepositoriesSection from '@components/team/GitHubRepositoriesSection.astro'
import GitHubRepositoryItem from '@components/team/GitHubRepositoryItem.astro'
import ContactSection from '@components/team/ContactSection.astro'
import ResourceItem from '@components/team/ResourceItem.astro'
import SmallTitle from '@components/team/SmallTitle.astro'
import SimpleColumn from '@components/team/SimpleColumn.astro'
import FeatureSection from '@components/team/FeatureSection.astro'
import FeatureText from '@components/team/FeatureText.astro'
import FeatureYouTube from '@components/team/FeatureYouTube.astro'
import GallerySection from '@components/team/GallerySection.astro'
import GalleryImage from '@components/team/GalleryImage.astro'
---
<ProfilePage title={fullName + " - " + jobTitle}>
  <GreetingSection {...myData.frontmatter}>
    <h2 class="py-5 text-3xl font-medium">Expert In</h2>
    <ul class="list-disc list-inside text-lg font-medium">
      <li>Systems Architecture</li>
      <li>Web Standards</li>
      <li>API Security</li>
      <li>Middleware</li>
      <li>Databases</li>
      <li>Clojure Development</li>
      <li>Linux</li>
    </ul>
  </GreetingSection>

  <Section bgColor='orange' className="py-20 grid grid-cols-1 gap-5">
      <SmallTitle>Background</SmallTitle>
      <p>
	I started programming in the early 80s, first on the 8-bit ZX81 and ZX Spectrum computers, and later on the 68000-based Atari SI home computer. I spent almost two years on a 3D driving game, and almost had a title published by Electronic Arts. In 1993, I won an award for my final year undergraduate project at Warwick University, a vector-based satellite navigation system for cars, written in C++ and XWin.
      </p>
      <p>
        My first roles post-university led him into Unix systems administration and from there to becoming an Oracle DBA, before finding a route back into full-time programming with Java in 1996. I was part of the original team that built jcoverage, which became Coburtura, still a hugely popular tool for measuring test code coverage for Java.
      </p>
      <p>
        In 1998 I built one of the first Java EJB servers — EJBHome — which was acquired by IONA Technologies the following year. At IONA I co-led the team that created their J2EE application server, one of the first to receive a compatibility certification from Sun. I built the first version of the JSP engine, sitting on Sun’s EJB 2.0 technical committee and won the President’s Award for revolutionising IONA’s approach to product packaging.
      </p>
      <p>
        I've worked for many years as a developer, consultant, speaker and trainer in Agile methodologies in various sectors, including banking and telecommunications.
      </p>
      <p>
        I've has been building web APIs for customers for over a decade and I'm intimately acquainted with the HTTP specifications. I've has authored or contributed to a number of web libraries that assist in the creation of HTTP-based services, including plugboard, Liberator, bidi, yada, pick, jinx, grab, reap, https://www.rest.guide and Site.
      </p>

  </Section>

  <FeatureSection imgPos="right">

    <FeatureText
      category="Featured Talk"
      title="Backends. Where did they come from and why are they here?">

      <SimpleColumn>
	<p>Here's a talk I gave at JUXT's 10 year birthday celebration last May (2023).</p>
	<p>We're always trying to think of ways to dramatically simplify IT architectures, which almost always become over-complicated for little gain.</p>
	<p>This talk presents the possibility of a 2-tier architecture where the usual business-logic backend and database tiers are merged.</p>
      </SimpleColumn>
    </FeatureText>

    <FeatureYouTube slot="image"
      title="Backends. Where did they come from and why are they here?"
      embedUrl="https://www.youtube.com/embed/BG38x677s44"
    />

  </FeatureSection>

  <FeatureSection imgPos="left">

    <FeatureText
      category="Featured Talk"
      title="Babashka Conf 2023: Clojure on SCIs (Opening Keynote)">

      <SimpleColumn>
	<p>I gave the opening Key Note at the inaugural Babashka conf, last year in Berlin!</p>
	<p>Babashka is a wonderful replacement for bash, with all the power and without the arcane syntax.</p>
	<p>It's my go-to tool for anything that requires a bit of scripting together.</p>
      </SimpleColumn>
    </FeatureText>

    <FeatureYouTube slot="image"
      title="Clojure on SCIs"
      embedUrl="https://www.youtube.com/embed/Cq4S7nO1KOo"
    />

  </FeatureSection>

  <!--
  <QuoteSection author="Albert Einstein">
    God does not play dice with the Universe
  </QuoteSection>
  -->

  <ResourceCollectionSection title="Notable Talks" subtitle="A selection of Malcolm's online talks">

    <ResourceItem
      name="Building A Secure API Platform: A Data-driven Approach"
      description="A talk I gave in October 2023 at the Nordic APIs Platform Summit in Stockholm"
      link="https://www.youtube.com/watch?v=7qZ-GWvx6lM"
    />

    <ResourceItem
      name="Clojure on SCIs"
      description="The opening keynote I gave at Babashka Conf in June 2023"
      link="https://www.youtube.com/watch?v=Cq4S7nO1KOo"
    />

    <ResourceItem
      name="The Universe As A Value"
      description="A talk given at ClojuTRE 2016"
      link="https://www.youtube.com/watch?v=odPAkEO2uPQ"
    />

  </ResourceCollectionSection>

  <LatestBlogsSection {...myData.frontmatter} />

  <GitHubRepositoriesSection {...myData.frontmatter} >
    <GitHubRepositoryItem owner ="juxt-site" name="site" description="A platform for building stateful API services." />
    <GitHubRepositoryItem owner="juxt" name="pick" description="A Clojure library for HTTP server-driven content negotiation." />
    <GitHubRepositoryItem owner="juxt" name="reap" description="A Clojure library for decoding and encoding strings used by web protocols." />
    <GitHubRepositoryItem owner="juxt" name="grab" description="A Clojure library for parsing and executing GraphQL queries. " />
    <GitHubRepositoryItem owner="juxt" name="jinx" description="jinx is not xml-schema (it's json-schema!)" />
    <GitHubRepositoryItem owner="juxt" name="bidi" description="Bidirectional URI routing" />
  </GitHubRepositoriesSection>

  <ContactSection {...myData.frontmatter} />
</ProfilePage>
