---
// 1. Source profile data from your profile file
import * as myData from '../../data/people/mal.md'

// 2. Extract the fields you are planning to use in your profile page.
// NOTE: This won't error if properties are missing
const { code, jobTitle, fullName } = myData.frontmatter;

// 3. Import any components you need
import { getImage, Image } from 'astro:assets'
import ProfilePage from '@components/team/ProfilePage.astro'

import TwoColumnSection from '@components/team/TwoColumnSection.astro'
import GreetingSection from '@components/team/GreetingSection.astro'
import QuoteSection from '@components/team/QuoteSection.astro'
import LatestBlogsSection from '@components/team/LatestBlogsSection.astro'
import ResourceCollectionSection from '@components/team/ResourceCollectionSection.astro'
import ContactSection from '@components/team/ContactSection.astro'
import ResourceItem from '@components/team/ResourceItem.astro'
---
<ProfilePage title={fullName + " - " + jobTitle}>
  <GreetingSection fullName={fullName} code={code} jobTitle={jobTitle}>
    <h2 class="py-5 text-3xl font-medium">Expert In</h2>
    <ul class="list-disc list-inside text-lg font-medium">
  <li>Systems Architecture</li>
  <li>Web Standards</li>
  <li>API Security</li>
  <li>Middleware</li>
  <li>Databases</li>
  <li>Clojure Development</li>
  <li>Linux</li>
    </ul>
  </GreetingSection>

  <TwoColumnSection>
    <div>
      <h2 class="text-xl font-medium">Background</h2>
  <p class="py-2">
    During the 80s he wrote a number of games in 68000 assembler for the Atari ST, and almost had a title published by Electronic Arts. In 1993, he won an award for his final year undergraduate project at Warwick University, a vector-based satellite navigation system for cars, written in C++ and XWin.
  </p>
  <p class="py-2">
Maolm’s first jobs after university led him into Unix systems administration and from there to becoming an Oracle DBA, before finding a route back into full-time programming with Java in 1996. He was part of the original team that built jcoverage, which became Coburtura, still a hugely popular tool for measuring test code coverage for Java.
  </p>
  <p class="py-2">
    In 1998 he built one of the first Java EJB servers — EJBHome — which was acquired by IONA Technologies the following year. At IONA he co-led the team that created their J2EE application server, one of the first to receive a compatibility certification from Sun. Malcolm built the first version of the JSP engine, sitting on Sun’s EJB 2.0 technical committee and won the President’s Award for revolutionising IONA’s approach to product packaging.
  </p>
  <p class="py-2">
    Malcolm has worked for many years as a developer, consultant, speaker and trainer in Agile methodologies in various sectors, including banking and telecommunications.
  </p>
    </div>

    <div class="col-start-2">
      <h2 class="text-xl font-medium">Skills</h2>
  <p class="py-2">
Maolm is a Clojure expert, systems designer and builder. He is a prolific library author and responsible for many of JUXT’s open-source libraries on GitHub.
  </p>
  <p class="py-2">
Maolm has been building web APIs for customers for over a decade and is intimately acquainted with the HTTP specifications. He has authored or contributed to a number of web libraries that assist in the creation of HTTP-based services, including plugboard, Liberator, yada, https://www.rest.guide and Site.
  </p>

    </div>
  <!--
    <div class="col-start-2 row-start-2">
  <h2 class="text-xl font-medium">Why {name}?</h2>
  <ul class="list-disc list-inside">
  </ul>
    </div>
  -->
  </TwoColumnSection>

  <!--
  <QuoteSection author="Albert Einstein">
    God does not play dice with the Universe
  </QuoteSection>
  -->

  <LatestBlogsSection {...myData.frontmatter} />

  <ResourceCollectionSection title="Notable Works" subtitle="From the web">
    <ResourceItem name="reap" description="A regex and parsing Clojure library" link="https://github.com/juxt/reap"/>
  </ResourceCollectionSection>

  <ContactSection {...myData.frontmatter}>
  </ContactSection>
</ProfilePage>
