---
// 1. Replace with:
// import * as myData from '../../data/people/mal.md'
const myData =   {
"frontmatter": {
  "code": "mal",
  "name": "Demo",
  "lastName": "Sparks",
  "fullName": "Mr. Demo",
  "jobTitle": "XXX",

  // These are all optional
  "email": "demo@juxt.pro",
  "twitter": "@juxt.pro",
  "github": "juxt",
  "linkedin": "juxtpro"
}}

// 2. Here you extract the data needed for the page
// NOTE: This won't error if properties are missing
const { code, jobTitle, fullName } = myData.frontmatter

// 3. Import any components you need
import AssetImage from '@components/team/AssetImage.astro'
import ProfilePage from '@components/team/ProfilePage.astro'

import TwoColumnSection from '@components/team/TwoColumnSection.astro'
import GreetingSection from '@components/team/GreetingSection.astro'
import QuoteSection from '@components/team/QuoteSection.astro'
import LatestBlogsSection from '@components/team/LatestBlogsSection.astro'
import ResourceCollectionSection from '@components/team/ResourceCollectionSection.astro'
import ResourceItem from '@components/team/ResourceItem.astro'
import ContactSection from '@components/team/ContactSection.astro'
import GallerySection from '@components/team/GallerySection.astro'
import GalleryImage from '@components/team/GalleryImage.astro'
import SmallTitle from '@components/team/SmallTitle.astro'
import SimpleColumn from '@components/team/SimpleColumn.astro'
---
<ProfilePage title={fullName + " - " + jobTitle}>
  <GreetingSection code={code} fullName={fullName} jobTitle={jobTitle}>
    <p class="italic">
      This is the &lt;GreetingSection&gt;. Anything below this is custom HTML you can add:
    </p>

    <h2 class="py-5 text-3xl font-medium">Expert In</h2>
    <ul class="list-disc list-inside text-lg font-medium">
      <li>Java, Kotlin</li>
      <li>Security</li>
      <li>Platform Engineering</li>
    </ul>
  </GreetingSection>

  <GallerySection>
    <GalleryImage
        src="/src/assets/blog/10-test.jpg"
        alt="Chalkboard with some maths scribblings" />
    { /* Got something important on the left, try setting `object-left` and friends */ }
    <GalleryImage
        src="/src/assets/blog/clojureD-2022-minecraft-workshop.jpg"
        alt="People talking around laptops"
        imgClass="object-left" />
    <GalleryImage
        src="/src/assets/blog/clojutre-juxt.jpg"
        alt="A desk at a convention" />
    <GalleryImage
        src="/src/assets/blog/confs.jpg"
        alt="People talking around a convention desk" />

    { /* A max of 4 images will be displayed, the rest will be hidden */ }
    <GalleryImage
        src="/src/assets/blog/confs.jpg"
        alt="People talking around a convention desk" />
  </GallerySection>

  <TwoColumnSection>
    <SimpleColumn>
      <SmallTitle>Section 1</SmallTitle>
      <p class="italic">
        This is a &lt;TwoColumnSection&gt;
      </p>
      <p class="italic">
        It's useful as a placeholder and for you to work on copy.
      </p>
    </SimpleColumn>

    <SimpleColumn>
      <SmallTitle>Section 2</SmallTitle>
      <p class="italic">
        It creates a 2 column grid, just add divs and they'll appears as columns.
      </p>
    </SimpleColumn>

    <SimpleColumn>
      <SmallTitle>Section 3</SmallTitle>
      <p class="italic">
        We also have a &lt;SimpleColumn&gt; component for adding a nicely spaced column of things like paragraphs & titles.
      </p>
      <p class="italic">
        And a &lt;SmallTitle&gt; component for a common title.
      </p>
    </SimpleColumn>

    <SimpleColumn>
      <SmallTitle>Section 4</SmallTitle>
      <p class="italic">
        Nice and simple
      </p>
    </SimpleColumn>
  </TwoColumnSection>

  { /* You can set the background colour to a fixed set of colors ("orange" & "grey") with bgColor.
     * For more info see the team/Section.astro component
     */ }
  <TwoColumnSection bgColor="grey">
    <SimpleColumn className="bg-black p-5">
      <SmallTitle>Section 1</SmallTitle>
      <p class="italic">
        If you want to get more fancy, try out <a class="underline" href="https://tailwindcss.com/docs/grid-column">col-start</a> and <a class="underline" href="https://tailwindcss.com/docs/grid-row">row-start</a>
      </p>
    </SimpleColumn>

    <SimpleColumn className="bg-black p-5 row-start-2 col-start-2">
      <SmallTitle>Section 2</SmallTitle>
      <p class="italic">
        See how I'm down here now?
      </p>
    </SimpleColumn>
  </TwoColumnSection>

  <QuoteSection author="Attribution Needed (perhaps put the author in here)">
    This is the &lt;QuoteSection&gt;. Did you say something profound? Did someone say something nice about you? Why not add it here.
  </QuoteSection>

  <LatestBlogsSection {...myData.frontmatter}>
    <p class="italic pt-5">
      This is a component called &lt;LatestBlogsSection&gt;.
      You can use it to list your latest blogs.
      Given your code as a property it will automatically fetch your latest blogs!
    </p>
  </LatestBlogsSection>

  <ResourceCollectionSection title="Notable Works" subtitle="From the web">
    <p class="italic py-5">
      This is a component called &lt;ResourceCollectionSection&gt;.
      It's a useful placeholder for various links.
      </br>
      Use the &lt;ResourceCollectionSection&gt; component to render items so they look like:
    </p>
    <ResourceItem
      name="foo"
      description="my foo package I wrote"
      link="https://github.com/juxt/foo"
    />
    <ResourceItem
      name="bar"
      description="my bar blog I wrote"
      link="/blog/foo"
    />
  </ResourceCollectionSection>

  <ContactSection {...myData.frontmatter} />
</ProfilePage>
