---
// 1. Replace with:
// import * as myData from '../../data/people/mal.md'
const myData =   {
"frontmatter": {
  "code": "mal",
  "name": "Demo",
  "lastName": "Sparks",
  "fullName": "Mr. Demo",
  "jobTitle": "XXX",

  // These are all optional
  "email": "demo@juxt.pro",
  "twitter": "@juxt.pro",
  "github": "juxt",
  "linkedin": "juxtpro"
}}

// 2. Here you extract the data needed for the page 
// NOTE: This won't error the properties are missing
const { code, jobTitle, fullName } = myData.frontmatter

// 3. Import any components you need
import { getImage, Image } from 'astro:assets'
import TeamLayout from '@components/team/TeamLayout.astro'

import TwoColumnSection from '@components/team/TwoColumnSection.astro'
import GreetingSection from '@components/team/GreetingSection.astro'
import QuoteSection from '@components/team/QuoteSection.astro'
import LatestBlogsSection from '@components/team/LatestBlogsSection.astro'
import ResourceCollectionSection from '@components/team/ResourceCollectionSection.astro'
import ResourceItem from '@components/team/ResourceItem.astro'
import ContactSection from '@components/team/ContactSection.astro'
---
<TeamLayout title={fullName + " - " + jobTitle}>
  <GreetingSection code={code} fullName={fullName} jobTitle={jobTitle}>
    <p class="italic">
      This is the &lt;GreetingSection&gt;. Anything below this is custom HTML you can add:
    </p>

    <h2 class="py-5 text-3xl font-medium">Expert In</h2>
    <ul class="list-disc list-inside text-lg font-medium">
      <li>Java, Kotlin</li>
      <li>Security</li>
      <li>Platform Engineering</li>
    </ul>
  </GreetingSection>

  <TwoColumnSection>
    <div>
      <h2 class="text-xl font-medium">Section 1</h2>
      <p class="italic">
        This is a &lt;TwoColumnSection&gt;, it's useful as a placeholder and for you to work on copy.
      </p>
    </div>

    <div>
      <h2 class="text-xl font-medium">Section 2</h2>
      <p class="italic">
        It creates a 2 column grid, just add divs and they'll appears as columns.
      </p>
    </div>

    <div>
      <h2 class="text-xl font-medium">Section 3</h2>
      <p class="italic">
        Nice and simple
      </p>
    </div>
  </TwoColumnSection>

  <TwoColumnSection>
    <div class="bg-black p-5">
      <h2 class="text-xl font-medium">Section 1</h2>
      <p class="italic">
        If you want to get more fancy, try out <a href="https://tailwindcss.com/docs/grid-column">col-start</a> and <a href="https://tailwindcss.com/docs/grid-row">row-start</a>
      </p>
    </div>

    <div class="bg-black p-5 row-start-2 col-start-2">
      <h2 class="text-xl font-medium">Section 2</h2>
      <p class="italic">
        See how I'm down here now?
      </p>
    </div>
  </TwoColumnSection>

  <QuoteSection author="Attribution Needed (perhaps put the author in here)">
    This is the &lt;QuoteSection&gt;. Did you say something profound? Did someone say something nice about you? Why not add it here.
  </QuoteSection>

  <LatestBlogsSection code={code}>
    <p class="italic pt-5">
      This is a component called &lt;LatestBlogsSection&gt;.
      You can use it to list your latest blogs.
      Given your code as a property it will automatically fetch your latest blogs!
    </p>
  </LatestBlogsSection>

  <ResourceCollectionSection title="Notable Works" subtitle="From the web">
    <p class="italic py-5">
      This is a component called &lt;ResourceCollectionSection&gt;.
      It's a useful placeholder for various links.
      </br>
      Use the &lt;ResourceCollectionSection&gt; component to render items so they look like:
    </p>
    <ResourceItem
      name="foo"
      description="my foo package I wrote"
      link="https://github.com/juxt/foo"
    />
    <ResourceItem
      name="bar"
      description="my bar blog I wrote"
      link="/blog/foo"
    />
  </ResourceCollectionSection>

  <ContactSection {...myData.frontmatter} />
</TeamLayout>
