---
import { MarkdownInstance } from 'astro'
import { Blog } from '../../components/types'

export const metadata = {
  navbar: { weight: 3, label: 'Blog' },
  footer: { weight: 3, label: 'Blog' }
}

const pages = await Astro.glob<MarkdownInstance<Blog>>('./{*.mdx,*.md}')
console.log('hello')
---

<div>index ford blog</div>
