---
export const metadata = {
  navbar: { weight: 3, label: 'Blog' },
  footer: { weight: 3, label: 'Blog' }
}

const pages = await Astro.glob('./*.mdx')
console.log('this shouldnndst take 7 seconds.')
---

<div>index fo rd blog</div>
