---
import { MarkdownInstance } from 'astro'

const pages = await Astro.glob('./{*.mdx,*.md}')
console.log('yy 7 seconds.', pages.length)
---

<div style='background: black; height: 100vh;'>indexx foccccdc blog</div>
