---
import { getImage } from 'astro:assets'
import { MarkdownInstance } from 'astro'
import { parseBlogs } from '@utils/common'
import Banner from '@components/Banner.astro'
import { Blog, Person } from '@utils/types'
import { BlogIndex } from '@layouts/BlogIndex.tsx'
import Layout from '@layouts/Layout.astro'

const blogBannerPicture = await getImage({
  src: import('../../assets/site/blog-banner.jpeg'),
  width: 1700,
  quality: 90,
  alt: 'blog banner'
}).then((img) => img.src)
---

<Layout navbar title='Blog'>
  <div class="bg-gray-900">
    <Banner
      text='Blog'
      style={{ backgroundImage: `url(${blogBannerPicture})` }}
    />
    { import.meta.env.PROD && <BlogIndex client:only='preact' /> }
    {
      // The reason for this is that pagefind requires the fully built, static site to build it's indexes
      !import.meta.env.PROD &&
      <div class="text-white">Search disabled on dev builds</div>
    }
  </div>
</Layout>
