---
import Layout from '../../layouts/Layout.astro'

export const metadata = {
  navbar: { weight: 5 },
  footer: { weight: 5 }
}
---

<Layout navbar>
  <main class='pb-96'>careers page here</main>
</Layout>
