---
const {href} = Astro.props;

import { AtIcon } from '@components/Icons'

---
<div class="flex gap-8 items-center">
    <div class="rounded-full bg-amber-500 w-10 h-10 flex place-content-center relative">
        <slot name="icon">
            <AtIcon className="w-7" />
        </slot>
    </div>
    <slot name="default"/>
</div>
