---
import IconCircle from '@components/team/IconCircle.astro'
import { AtIcon } from '@components/Icons'

const {href} = Astro.props;
---
<div class="flex gap-8 items-center">
    <a href={href} target="_blank">
        <IconCircle>
            <slot name="icon">
                <AtIcon className="w-7" />
            </slot>
        </IconCircle>
        <div class="float-left p-3">
          <slot name="default"/>
        </div>
    </a>
</div>
