---
import { bgColorClass } from '@utils/common'

var { title , subtitle, bgClass, bgColor } = Astro.props;

if (!bgClass) {
    bgClass = "px-10 flex flex-col justify-center";
}

bgColor = bgColorClass(bgColor);
if (bgColor) {
    bgClass += " " + bgColor;
}
---
<div class={bgClass}>
  <h2 class="text-lg font-medium">{title}</h2>
  <h3 class="text-sm font-medium">{subtitle}</h3>
  
  <div class="pt-8">
    <slot/>
  </div>
</div>
