---
const { flip = false, shrinkMobile = true } = Astro.props
let flipClass = flip ? "" : "md:order-first";
let shrinkMobileClass = shrinkMobile ? "hidden md:block" : "";
---
<div class={ "container mx-auto max-w-6xl grid grid-cols-1 md:grid-cols-2"}
     {...Astro.props}>
    <div class={ "md:h-96 " + shrinkMobileClass }>
        <slot/>
    </div>
    <div class={"h-96 overflow-hidden " + flipClass}>
        <slot name="image"/>
    </div>
</div>
