---
const { flip = false } = Astro.props
---
<div class={ "container mx-auto max-w-6xl h-96 grid grid-cols-2 overflow-hidden"}
     {...Astro.props}>
    {
      /* Default to the left side */
      !flip && 
      <div class="overflow-hidden">
        <slot name="image"/>
      </div>
    }
    <slot/>
    {
      flip &&
      <div class="overflow-hidden">
        <slot name="image"/>
      </div>
    }
</div>
