---
import { getImage, Image } from 'astro:assets'
import Section from '@components/team/Section.astro'

const { name, title } = Astro.props;
---
<Section bgColor="yellow" className="py-20" {...Astro.props}>
  <div class="flex flex-col pb-7">
    <h3 class="text-2xl font-medium">{ title || "GitHub Repositories"}</h3>
  </div>
  <div class="grid grid-cols-3 gap-3">
    <slot/>
  </div>
</Section>
