---
import { getImage, Image } from 'astro:assets'
import Section from '@components/team/Section.astro'
import { parseBlogs, bgColorClass } from '@utils/common'
import { BlogCard } from '@components/BlogCard'
import SmallTitle from '@components/team/SmallTitle.astro'

const isDev = import.meta.env.DEV;

var { code, name, lastName, bgColor, title, hidePodcasts } = Astro.props

var bgClass = ""

bgColor = bgColorClass(bgColor);
if (bgColor) {
    bgClass += " " + bgColor;
}

const authorImageImport = {
  heroImageImport: (heroImage) => import(`../../assets/blog/${heroImage}.jpg`),
  authorImageImport: (authorImage) => import(`../../assets/people/${authorImage}.jpg`)
}

const rawBlogs = Object.values(import.meta.glob<MarkdownInstance<Blog>>('/src/pages/blog/{*.mdx,*.md}', { eager: true }));
const rawPeople = Object.values(import.meta.glob<MarkdownInstance<Person>>('/src/data/people/{*.mdx,*.md}', { eager: true }));

const unfilteredBlogs = await parseBlogs({
  rawBlogs,
  rawPeople,
  isDev: isDev,
  getImage,
  ...authorImageImport
})

const filteredBlogs = unfilteredBlogs
    .filter(({ draft, author, tags }) => (isDev || !draft) && (author == code) && (!hidePodcasts || !tags || !tags.includes('podcast')) );

// Sort by publishedDate
// NOTE: There's a potential bug here with dates being in different formats
//       e.g. Kpow has the date: 29 Mar 2023, but most other posts use ISO format 2023-03-29
const blogs = filteredBlogs
    .sort((a, b) => new Date(b.publishedDate) - new Date(a.publishedDate));
---
<>
  <Section className="pt-20" {...Astro.props}>
    <div class="pb-10 flex flex-col items-center">
      <SmallTitle>{title || 'Recent Content'}</SmallTitle>
      <slot/>
    </div>
  </Section>

  { /* This component is styled in dark mode only, so we set dark mode for the blog cards */ }
  <div class={"dark grid grid-cols-1 lg:grid-cols-[repeat(2,_24rem)] xl:grid-cols-[repeat(3,_24rem)] gap-10 justify-center " + bgClass}>
    {
      blogs[0] &&
      <div class="">
        <BlogCard {...blogs[0]} />
      </div>
    }
    {
      blogs[1] &&
      <div class="max-lg:hidden">
        <BlogCard {...blogs[1]} />
      </div>
    }
    {
      blogs[2] &&
      <div class="max-xl:hidden">
        <BlogCard {...blogs[2]} />
      </div>
    }
  </div>

  <Section className="pb-20" {...Astro.props}>
    <div class="pt-10 flex flex-col items-center">
        <a class="bg-juxt px-4 py-3 text-white rounded-sm" href={"/blog?personName=" + name + "&personLastName=" + lastName}>More...</a>
    </div>
  </Section>
</>
