---
import FeaturedSupport from '@components/team/FeaturedSupport.astro'
import Section from '@components/team/Section.astro'
import SmallTitle from '@components/team/SmallTitle.astro'
import { MarkdownInstance } from 'astro'
import { Person } from '@utils/types'

var people = (await Astro.glob<MarkdownInstance<Person>>(
  '../../data/people/{*.mdx,*.md}'
))
    .reduce((acc, person) => {
        acc[person.frontmatter.code] = person.frontmatter;
        return acc;
    }, {})

const { code } = Astro.props;

const allExecs = ["mal", "jon", "jdt", "joe"];
const otherExecs = allExecs.filter(c => c !== code);
---
<Section className="py-10 sm:py-20 flex flex-col items-center gap-10">
  <SmallTitle>Meet the other leaders</SmallTitle>
  <div class='px-32 flex flex-col md:flex-row justify-center gap-5 sm:gap-20'>
    {
      otherExecs.map((code, idx) => <FeaturedSupport idx={idx} {...people[code]} />)
    }
  </div>
</Section>
