---
var {bgClass, bgStyle, bgColor, className} = Astro.props;
if (bgColor == "orange") {
    bgClass += " bg-[#b76330]";
} else if (bgColor == "yellow") {
    bgClass += " bg-[#ca8a04]";
}
---
{ /* If either a bgClass or bgStyle is specified then we wrap the container in a div with the bg styles */ }
{
    (bgClass || bgStyle) &&
    <div class={bgClass} style={bgStyle}>
        { /* NOTE: Recursive */ }
        <Astro.self className={className}>
            <slot/>
        </Astro.self>
    </div>
}
{
    !(bgClass || bgStyle) &&
    <div class={"container mx-auto lg:max-w-5xl px-10 " + className}>
        <slot/>
    </div>
}
