---
import { bgColorClass } from '@utils/common'

var {bgClass, bgStyle, bgColor, className} = Astro.props;

bgColor = bgColorClass(bgColor);
if (bgColor) {
    bgClass += " " + bgColor;
}
---
{ /* If either a bgClass or bgStyle is specified then we wrap the container in a div with the bg styles */ }
{
    (bgClass || bgStyle) &&
    <div class={bgClass} style={bgStyle}>
        { /* NOTE: Recursive */ }
        <Astro.self className={className}>
            <slot/>
        </Astro.self>
    </div>
}
{
    !(bgClass || bgStyle) &&
    <div class={"container mx-auto lg:max-w-5xl px-10 " + className}>
        <slot/>
    </div>
}
