---
const {bgClass, bgStyle, className} = Astro.props;
---
{
    (bgClass || bgStyle) &&
    <div class={bgClass} style={bgStyle}>
        <Astro.self className={className}>
            <slot/>
        </Astro.self>
    </div>
}
{
    !(bgClass || bgStyle) &&
    <div class={"container mx-auto lg:max-w-5xl px-10 " + className}>
        <slot/>
    </div>
}
