---
import { Image } from 'astro:assets'

import post_image from '../../assets/blog/10-year-party-hero-image.jpg'

---
<div>
    <!-- TODO: Post image -->
    <Image src={post_image} alt="" />
    <h3 class="text-sm">Category Name | Date</h3>
    <h3 class="font-bold">Lorem ipsum dolor sit amet, consectetur.</h3>
    <p class="pt-5">
        Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia in
        deserunt mollit anim id est sint
    </p>
</div>
