---
import { Image } from 'astro:assets'

import post_image from '../../assets/blog/10-year-party-hero-image.jpg'

---
<div>
    <!-- TODO: Post image -->
    <Image src={post_image} alt="">
    <h4>Category Name | Date</h4>
    <h3>Lorem ipsum dolor sit amet, consectetur.</h3>
    <p>
        Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia in
        deserunt mollit anim id est sint
    </p>
</div>
