<section class="thank-you-page">
  <h1 class="thank-you-title">Thank You</h1>

  <div class="thank-you-content">
    <h2 class="thank-you-section-heading">Contributions</h2>

    <p class="thank-you-text">
      This radar represents our current viewpoint and will be updated regularly.
      We welcome feedback and suggestions from the community, you can reach us
      on LinkedIn, BlueSky and via email. Each technology entry includes
      detailed reasoning for its placement, helping you make informed decisions
      for your AI projects.
    </p>
  </div>

  <img class="thank-you-qr-code" src="../public/qrcode.svg" alt="QR Code" />

  <div class="thank-you-footer">
    <p class="thank-you-disclaimer">
      The information in this document is provided as is and does not warrant
      the accuracy, completeness and fitness for a particular purpose. In no
      event shall Grid Dynamics Holdings, Inc be liable for any damages
      whatsoever arising from your reliance on any information contained in this
      document. Except as permitted under the Copyright Act no part of the
      document may be reproduced, transmitted, stored in a retrieval system, or
      translated into any human or computer language in any form by any means,
      electronic, mechanical, magnetic, optical, chemical, manual or otherwise
      without the expressed permission of Grid Dynamics Holdings, Inc.
    </p>
  </div>
</section>
