<section class="thank-you-page">
  <div class="thank-you-qr-container">
    <img class="thank-you-qr-code" src="../public/qrcode.svg" alt="QR Code" />
    <p class="thank-you-url">juxt.pro/ai-radar</p>
  </div>

  <div class="thank-you-footer">
    <p class="thank-you-disclaimer">
      The information in this document is provided as is and does not warrant
      the accuracy, completeness and fitness for a particular purpose. In no
      event shall Grid Dynamics Holdings, Inc be liable for any damages
      whatsoever arising from your reliance on any information contained in this
      document. Except as permitted under the Copyright Act no part of the
      document may be reproduced, transmitted, stored in a retrieval system, or
      translated into any human or computer language in any form by any means,
      electronic, mechanical, magnetic, optical, chemical, manual or otherwise
      without the expressed permission of Grid Dynamics Holdings, Inc.
    </p>
  </div>
</section>
