---
import { getImage } from '@astrojs/image'
import { Image } from '@astrojs/image/components'
import Banner from '@components/Banner.astro'
import Clickable from '@components/Clickable.astro'
import Newsletter from '@components/Newsletter.astro'
import Section from '@components/Section.astro'
import TalkToUs from '@components/TalkToUs.astro'
import Layout from '@layouts/Layout.astro'

const picture404 = await getImage({
  src: import('../assets/site/404.jpg'),
  width: 1700,
  quality: 90,
  alt: '404'
}).then((img) => img.src)
---

<Layout navbar title='Page not found'>
  <main>
    <Banner
      text='404'
      style={{
        backgroundImage: `url(${picture404})`
      }}
    />
    <Newsletter />
  </main>
</Layout>
