---
import Layout from '../layouts/Layout.astro'

export const metadata = {
  navbar: { weight: 1 },
  footer: { weight: 2 }
}
---

<Layout navbar>
  <main class='pb-96'>about page here</main>
</Layout>
