---
import { getImage } from '@astrojs/image'
import Banner from '../components/Banner.astro'
import Section from '../components/Section.astro'
import type { CaseStudyProps } from '../layouts/CaseStudy.astro'
import CaseStudy from '../layouts/CaseStudy.astro'
import Layout from '../layouts/Layout.astro'

export const metadata = {
  navbar: { weight: 4, label: 'Case Studies' },
  footer: { weight: 4, label: 'Case Studies' }
}

const caseStudies = await Astro.glob<CaseStudyProps>(
  '../data/case-studies/*.json'
)

const { pathname } = Astro.url

const caseStudiesParsed = caseStudies
  .filter(({ pages }) => pages[pathname])
  .sort((a, b) => a.pages[pathname].weight - b.pages[pathname].weight)

const caseStudiesPicture = await getImage({
  src: import('../assets/site/case-studies-banner.jpeg'),
  width: 1300,
  height: 800,
  quality: 80
}).then((img) => img.src)
---

<Layout navbar title='Case Studies'>
  <main>
    <Banner
      text='Case Studies'
      style={{
        backgroundImage: `url(${caseStudiesPicture})`
      }}
    />
    <Section className='bg-zinc-900 py-28 text-white'>
      <p class='text-xl md:text-2xl font-extralight'>
        IT projects are full of risk — make sure you choose a vendor that can
        deliver — here are some of our favourite success stories.
      </p>
    </Section>
    <Section>
      <div class='flex flex-col gap-36 py-28'>
        {caseStudiesParsed.map((caseStudy) => <CaseStudy {...caseStudy} />)}
      </div>
    </Section>
  </main>
</Layout>
