---
import Layout from '../layouts/Layout.astro'
import ContactUs from '../components/ContactUs'
---

<Layout title='Free Consultation' noFooter />
<main>
  <div class='bg-zinc-100 text-black'>
    <ContactUs client:only />
  </div>
</main>
