---
import Banner from '../components/Banner.astro'
import { ChevronRightIcon, TickIcon } from '../components/Icons'
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='JUXT' navbar navbarNoBg>
  <main>
    <Banner
      navbarNoBg
      text='Scaling Simplicity'
      background={'bg-[url("/images/site/homepage-banner.jpeg")]'}
    />
    <Section className='bg-gray-800 py-28 text-white'>
      <h2 class='pb-4 text-3xl md:text-4xl'>
        Complexity limits your organisation’s potential
      </h2>
      <p class='text-xl md:text-2xl font-extralight'>
        We are a unique software engineering firm, with a track record of
        rapidly delivering high-quality IT systems to meet challenging business
        objectives.
      </p>
    </Section>

    <Section
      className={'bg-slate-900 bg-[url("/images/site/threads.png")] bg-no-repeat bg-right bg-contain py-20 text-white'}
    >
      <div class='w-1/2'>
        <h2 class='text-4xl pb-10'>Our Approach</h2>
        <div class='text-lg font-extralight flex flex-col gap-8'>
          <p class=''>
            Complexity, still the primary cause of failure and delay of IT
            projects, arises from the <span class='italic'>
              interaction of concerns.
            </span>
          </p>
          <p class=''>
            The fundamental concerns in IT systems are
            <span class='font-bold text-juxt'>code</span>,
            <span class='font-bold text-juxt'>form</span>,
            <span class='font-bold text-juxt'>data</span>, and
            <span class='font-bold text-juxt'>time</span>
             — their subtle interactions and couplings combine to have a suffocating
            impact on software projects.
          </p>
          <p class=''>
            Our approach to building IT systems is defined by a unique
            methodology and a set of supporting tools that allow us to keep
            these four concerns separate, resulting in:
          </p>
          <div class='flex flex-col gap-6'>
            <div class='flex gap-4 items-center'>
              <div class='bg-gray-800 w-6 h-6 shrink-0 border border-juxt'>
                <TickIcon className={'fill-white'} />
              </div>
              <p>Rapid development of large IT systems</p>
            </div>

            <div class='flex gap-4 items-center'>
              <div class='bg-gray-800 w-6 h-6 shrink-0 border border-juxt'>
                <TickIcon className={'fill-white'} />
              </div>
              <p>Increased levels of agility and software re-use</p>
            </div>
            <div class='flex gap-4 items-center'>
              <div class='bg-gray-800 w-6 h-6 shrink-0 border border-juxt'>
                <TickIcon className={'fill-white'} />
              </div>
              <p>Lower maintenance costs</p>
            </div>
            <div class='flex gap-4 items-center'>
              <div class='bg-gray-800 w-6 h-6 shrink-0 border border-juxt'>
                <TickIcon className={'fill-white'} />
              </div>
              <p>Secure, reliable systems that are robust yet flexible</p>
            </div>
          </div>
        </div>
      </div>
    </Section>
    <Section className={'bg-white py-20'}>
      <div class='flex justify-between'>
        <div class='w-1/2'>
          <h2 class='text-7xl font-semibold pb-10 uppercase'>Time</h2>
          <div class='font-extralight flex flex-col gap-6'>
            <p class=''>
              We believe that systems should be built on the conceptual bedrock
              of a dual timeline. This provides a universal set of essential
              capabilities for organisations who operate within disparate and
              ever-evolving landscapes of information, and who require an
              accurate and consistent view of information at any point:
              <span class='italic'>past</span>,
              <span class='italic'>present</span> and
              <span class='italic'>future</span>.
            </p>
            <p class=''>
              The main timeline is fully controllable and it allows for:
            </p>
            <div>
              <div class='flex items-center'>
                <div class='w-8 h-8 shrink-0'>
                  <ChevronRightIcon className={'fill-black'} />
                </div>
                <p>Historical corrections</p>
              </div>
              <div class='flex items-center'>
                <div class='w-8 h-8 shrink-0'>
                  <ChevronRightIcon className={'fill-black'} />
                </div>
                <p>The integration of imported records</p>
              </div>
              <div class='flex items-center'>
                <div class='w-8 h-8 shrink-0'>
                  <ChevronRightIcon className={'fill-black'} />
                </div>
                <p>The previewable orchestration of future states</p>
              </div>
            </div>
            <p>
              The secondary timeline is immutable and provides a guaranteed
              audit trail, 'built-in'.
            </p>
            <p>
              The secondary timeline is immutable and provides a guaranteed
              audit trail, 'built-in'.
            </p>
            <p>
              The secondary timeline is immutable and provides a guaranteed
              audit trail, 'built-in'.
            </p>
            <p>
              The secondary timeline is immutable and provides a guaranteed
              audit trail, 'built-in'.
            </p>
          </div>
        </div>
        <div class='w-1/2 self-center'>
          <img class='w-11/12' src='/images/site/sphere-time.png' alt='' />
        </div>
      </div>
    </Section>
  </main>
</Layout>
