---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.' navbar={true}>
  <main>
    <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
    <p class='instructions'>
      Check out the <code>src/pages</code> directory to get started.<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
  </main>
</Layout>
