---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.' navbar navbarNoBg>
  <main>
    <div
      class='w-full h-screen bg-[url("/images/site/homepage-banner.jpeg")] bg-cover bg-top'
    >
    </div>

    <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
    <p class='instructions pb-96'>
      Check out the <code>src/pages</code> directory to get started.<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
  </main>
</Layout>
