---
import Layout from '@layouts/Layout.astro'
---

<Layout
  title='XT26 Delegate Guide - Know Before You Go'
  ogTitle='XT26 Delegate Guide'
  ogDescription='Essential information for XT26 attendees'
>
  <div class='w-full h-screen'>
    <iframe
      src='/documents/xt26-delegate-guide.pdf'
      class='w-full h-full'
      title='XT26 Delegate Guide - Know Before You Go'
    >
    </iframe>
  </div>
</Layout>
