---
import { getImage } from 'astro:assets'
import { Image } from 'astro:assets'
import Banner from '@components/Banner.astro'
import Section from '@components/Section.astro'
import Layout from '@layouts/Layout.astro'

const bannerPicture = await getImage({
  src: import('../assets/site/work-with-us-banner.jpg'),
  width: 1700,
  quality: 90,
  alt: 'work with us'
}).then((img) => img.src)

const boxStructure = [
  {
    title: 'Discover our work with financial companies',
    href: '/financial',
    src: import('../assets/site/case-studies-banner.jpg')
  },
  {
    title: 'Find out how we work with startups',
    href: '/startups',
    src: import('../assets/site/startup-bg.jpg')
  },
  {
    title: 'Read our latest blogs and articles',
    href: '/blog',
    src: import('../assets/site/blog-banner.jpeg')
  },
  {
    title: 'Check how you can get started with JUXT',
    href: '/get-started',
    src: import('../assets/site/services-banner.jpg')
  },
  {
    title: 'Play with XTDB',
    href: 'https://xtdb.com/',
    src: import('../assets/blog/xtdb-intro.jpg')
  },
  {
    title: 'Test JUXT Site to add Form to Data',
    href: 'https://frontend-example--juxtsite.netlify.app/',
    src: import('../assets/blog/stack.jpg')
  }
]
---

<Layout navbar title='Info'>
  <main>
    <Banner
      text='Info'
      style={{
        backgroundImage: `url(${bannerPicture})`
      }}
    />
    <Section className='bg-zinc-900 py-12 text-white'>
      <h2 class='pb-4 text-3xl md:text-4xl'>Hi, welcome to JUXT!</h2>
      <p class='text-xl md:text-2xl font-extralight'>
        In this page, we've listed some useful links that can walk you through
        our approach, methodology and culture. Do you have further questions?
        Send us an email at info@juxt.pro. If you want to say hello, we'd love
        to. <br />
        <br /> The JUXT team
      </p>
    </Section>
    <Section className='py-12'>
      <div
        class='grid md:grid-cols-[repeat(2,_24rem)] xl:grid-cols-[repeat(3,_24rem)] justify-center gap-10'
      >
        {
          boxStructure.map((box) => {
            return (
              <a
                href={box.href}
                class='group h-full group cursor-pointer flex flex-col w-96 mx-auto bg-gradient-to-b from-white to-neutral-100 dark:from-slate-700 dark:to-slate-800 min-h-[24rem] overflow-hidden relative shadow-lg hover:shadow-2xl transition-all'
              >
                <div class='p-4 text-2xl group-hover:text-juxt transition-colors'>
                  {box.title}
                </div>
                <div class='flex-grow'>
                  <Image
                    alt='image'
                    width={800}
                    quality={80}
                    class='w-full h-full object-cover'
                    src={box.src}
                  />
                </div>
              </a>
            )
          })
        }
      </div>
    </Section>

    <Section>
      <div
        class='text-black flex flex-wrap justify-center lg:flex-nowrap gap-14 py-28 lg:justify-between'
      >
        <div class='flex flex-col gap-4 text-center'>
          <div class='text-3xl font-light'>Email</div>
          <div class='font-light'>
            For all general enquiries, please email
            <span class='font-medium'>info@juxt.pro</span>
          </div>
        </div>
        <div class='flex flex-col gap-4 text-center'>
          <div class='text-3xl font-light'>UK Office</div>
          <div class='flex flex-col gap-2 font-light'>
            <div>Norfolk House, Silbury Blvd. ‍Milton Keynes, MK9 2AH</div>
          </div>
        </div>
        <div class='flex flex-col gap-4 text-center'>
          <div class='text-3xl font-light'>Phone</div>
          <div class='font-light'>
            Call us during UK business hours: +44 (0) 333 93 98 309
          </div>
        </div>
      </div>
    </Section>
  </main>
</Layout>
