---
import Layout from '../layouts/Layout.astro'

// export const metadata = {
//   navbar: { weight: 2 },
//   footer: { weight: 2 }
// }
---

<Layout title='Technology' navbar>
  <main>technolgoy page here</main>
</Layout>
