---
import Layout from '../layouts/Layout.astro'

export const metadata = {
  navbar: { weight: 2 },
  footer: { sitemap: { weight: 2 } }
}
---

<Layout title='Technology' navbar={true}>
  <main>technolgoy page here</main>
</Layout>
