---
import AssetImage from '@components/team/AssetImage.astro'
import Layout from '@layouts/Layout.astro'
import ContactUsFormXT24 from '@components/ContactUsFormXT24'

---
<Layout title='XT24' noFooter>
  <div class="bg-zinc-800">
    <div class='container max-w-6xl mx-auto min-h-screen p-10 flex flex-col text-white'>
      <!-- JUXT Logo -->
      <div class="w-full flex flex-row justify-end">
        <a href="/">
          <img width={100} src="/images/logo-on-dark.svg" alt="JUXT Logo" />
        </a>
      </div>

      <!-- XT24 Logo & copy -->
      <div class="grid grid-cols-1 lg:grid-cols-2 py-10 lg:py-20">
        <div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-1">
            <img src="/images/XT24.png" alt="XT24 Logo" />
            <h1 class="text-juxt text-4xl md:text-6xl font-bold uppercase">FinTech <br/> Conference</h1>
          </div>
          <p style="text-align-last: justify;" class="w-full text-xl uppercase">
            Scaling Simplicity in Financial Technology
          </p>
          <p class="py-10 font-light">
            Fintech Innovators and Engineering Leaders are meeting in Milton Keynes to explore how groundbreaking technology concepts, tools and solutions are shaping the future of financial services.
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
        <!-- Event Details -->
        <div class="flex flex-col gap-5">
          <h2 class="uppercase text-juxt text-xl">9 may 2024 | Unity Place | Milton Keynes</h2>

          <div class="grid grid-cols-1 sm:max-lg:grid-cols-2 gap-5">
            <div>
              <h3>9AM - 4PM</h3>
              <p class="font-light">
                Join engineering leaders from global banks, fintechs and hedge funds for a full day of insightful tech talks covering GenAI, Platform Engineering, Embedded Banking, RegTech, Data Governance, System Design, Architecture and more.
              </p>
            </div>

            <div>
              <h3>4PM - 7PM</h3>
              <p class="font-light">
                Enjoy an evening of networking and mingling - exclusive access to the Sky Bar, complete with drinks and food.
              </p>
            </div>
          </div>

          <div class="grow" />
          <p class="uppercase">Unity Place | 200 Grafton Gate | Milton Keynes | MK9 1UP</p>
        </div>

        <!-- Form -->
        <div class="flex flex-col gap-4 bg-white p-10 text-black">
          <span class="text-juxt text-2xl font-semibold uppercase self-center">This event is invite-only</span>
          <p class="uppercase text-center">
            If you wish to attend, please fill the form below and we’ll get back to you
          </p>
          <ContactUsFormXT24 client:only subject="XT24 RFI" />
        </div>
      </div>
    </div>
  </div>
</Layout>
