---
import AssetImage from '@components/team/AssetImage.astro'
import Layout from '@layouts/Layout.astro'
import ContactUsFormXT24 from '@components/ContactUsFormXT24'
import { LinkedInIcon } from '@components/Icons'
---
<Layout title='XT24 Fintech Conference - Agenda' noFooter>
  <div class="bg-zinc-800">
    <div class='container max-w-6xl mx-auto min-h-screen p-5 sm:p-10 flex flex-col text-white'>
      <!-- JUXT Logo -->
      <div class="w-full flex flex-row justify-end">
        <a href="/">
          <img width={100} src="/images/logo-on-dark.svg" alt="JUXT Logo" />
        </a>
      </div>

      <!-- XT24 Logo & copy -->
      <div class="grid grid-cols-1 lg:grid-cols-2 py-5 lg:pb-16">
        <div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-1">
            <img src="/images/XT24.png" alt="XT24 Logo" />
            <h1 class="text-juxt text-4xl md:text-6xl font-bold uppercase">FinTech <br/> Conference</h1>
          </div>
          <p class="w-full font-semibold sm:font-normal sm:text-xl uppercase">
            Scaling Simplicity in Financial Technology
          </p>
        </div>
      </div>

      <!-- Main content -->
      <div class="flex justify-center">
        <p class="text-5xl sm:text-6xl">Coming Soon</p>
      </div>
    </div>
  </div>
</Layout>
