---
import Section from '@components/Section.astro'
import { CloseIcon } from '@components/Icons.tsx'

const enabled = false;
// Update this ID to show the banner to users who closed it
const updateId = "xt24";
---
{
  enabled && (
  <alert-banner class="hidden" data-update-id={updateId}>
    <Section className="w-full z-[60] text-black text-xs p-5 bg-juxt">
      <div class="flex flex-row justify-between items-center">
        <span class="flex-grow text-center">
          Join Engineering Leaders from Global Banks, Fintech Companies and Hedge Funds at XT24 Conf — <a class="cursor-pointer underline" href="/xt24">Click Here</a>
        </span>
        <button class="w-3 h-3">
            <CloseIcon />
        </button>
      </div>
    </Section>
  </alert-banner>)
}

<script>
class AlertBanner extends HTMLElement {
  constructor() {
    super();
    let updateId = this.dataset.updateId;

    // Check if user has already closed the banner
    let closed = localStorage.getItem(updateId);
    if (!closed) {
      this.classList.remove('hidden');
    }

    // Add event listener to close the banner
    let button = this.querySelector('button');
    button.addEventListener('click', () => {
      this.classList.add('hidden');
      localStorage.setItem(updateId, 'true');
    });
  }
}

customElements.define('alert-banner', AlertBanner);
</script>
