---
import Section from '@components/Section.astro'
import { CloseIcon } from '@components/Icons.tsx'

const enabled = true
// Update this ID to show the banner to users who closed it
const updateId = 'finos-jeremy-webinar'
---

{
  enabled && (
    <alert-banner class='hidden' data-update-id={updateId}>
      <Section
        className='w-full z-[60] text-black p-5'
        style={`background-color: #F27918;`}
      >
        <div class='flex flex-row justify-between items-center'>
          <span class='flex-grow text-center'>
            [Live Webinar] Accelerated As-Of Reporting, Without The Hassle –
            <a
              class='cursor-pointer underline'
              href='https://zoom.us/webinar/register/4617283986911/WN_3b4DvHhvQbCtt98DOvjbDQ#/registration'
              target='_blank'
            >
              Register Here
            </a>
          </span>
          <button class='w-3 h-3'>
            <CloseIcon />
          </button>
        </div>
      </Section>
    </alert-banner>
  )
}

<script>
  class AlertBanner extends HTMLElement {
    constructor() {
      super()
      let updateId = this.dataset.updateId

      // Check if user has already closed the banner
      let closed = localStorage.getItem(updateId)
      if (!closed) {
        this.classList.remove('hidden')
      }

      // Add event listener to close the banner
      let button = this.querySelector('button')
      button.addEventListener('click', () => {
        this.classList.add('hidden')
        localStorage.setItem(updateId, 'true')
      })
    }
  }

  customElements.define('alert-banner', AlertBanner)
</script>
