---
import Section from '@components/Section.astro'
import { CloseIcon } from '@components/Icons'

// Set to true to enable/false to disable the banner
const enabled = false

// Update this ID to show the banner to users who closed it
const updateId = 'finos-jeremy-webinar'
---

{
  enabled && (
    <alert-banner
      class='hidden fixed w-full top-0 left-0'
      data-update-id={updateId}
    >
      <Section
        className='w-full z-[60] text-black p-5'
        style={`background-color: #F27918;`}
      >
        <div class='flex flex-row justify-between items-center'>
          <span class='flex-grow text-center'>
            <strong>SAVE THE DATE</strong> XT25 Fintech Conference | City of
            London | June 12 |
            <a class='cursor-pointer underline' href='/xt25' target='_blank'>
              RSVP here
            </a>
          </span>
          <button class='w-3 h-3'>
            <CloseIcon />
          </button>
        </div>
      </Section>
    </alert-banner>
  )
}

<script>
  class AlertBanner extends HTMLElement {
    constructor() {
      super()
      let updateId = this.dataset.updateId

      // Check if user has already closed the banner
      let closed = localStorage.getItem(updateId)
      if (!closed) {
        this.classList.remove('hidden')
        // Add margin to body when banner is shown
        document.body.style.marginTop = this.offsetHeight + 'px'
      }

      // Add event listener to close the banner
      let button = this.querySelector('button')
      button.addEventListener('click', () => {
        this.classList.add('hidden')
        localStorage.setItem(updateId, 'true')
        // Remove margin when banner is closed
        document.body.style.marginTop = '0'
      })
    }

    // Handle resize events to adjust margin
    connectedCallback() {
      window.addEventListener('resize', () => {
        if (!this.classList.contains('hidden')) {
          document.body.style.marginTop = this.offsetHeight + 'px'
        }
      })
    }
  }

  customElements.define('alert-banner', AlertBanner)
</script>
