---
export type BannerProps = {
  text: string
  navbarNoBg: boolean
  style?: any
  textColor?: string
  classes?: string
}

const { text, style, textColor, navbarNoBg, classes } = Astro.props as BannerProps
---

<div
  style={style}
  class:list={[
    'w-full h-[50vh] bg-cover',
    classes,
    { '-mt-14': !navbarNoBg }
  ]}
>
  <div
    class='flex justify-center md:justify-start text-center md:text-left items-end md:items-end h-full mx-auto px-4 sm:px-12 2xl:px-0 max-w-7xl pb-28 sm:pb-10'
  >
    <h1
      class={`${
        textColor ? textColor : 'text-white'
      } drop-shadow-lg bg-black/50 pl-3 shadow-black text-5xl uppercase tracking-widest leading-snug font-sans w-96`}
    >
      {text}
    </h1>
  </div>
</div>
