---
---

<div
  class='border border-juxt px-4 py-1.5 w-fit hover:bg-juxt transition-colors cursor-pointer hover:text-white visited:text-white font-normal text-sm'
>
  <div>
    <slot />
  </div>
</div>
