---
import { removeLeadingSlash } from '../utils'
import {
  GithubIcon,
  LinkedInIcon,
  TwitterIcon,
  UserIcon,
  ZulipIcon
} from './Icons'
import type { PageProps } from './Navbar.astro'

const pages = await Astro.glob<PageProps>('../pages/**/*.astro')

const pagesInFooter = pages
  .filter((page) => page?.metadata?.footer)
  .map((page) => ({
    url: page.metadata?.footer?.url || page.url,
    label: page.metadata?.footer?.label || removeLeadingSlash(page.url),
    weight: page.metadata?.footer?.weight
  }))
  .sort((a, b) => a.weight - b.weight)
---

<div class='w-full text-white bg-black py-20'>
  <div
    class='mx-auto max-w-6xl px-4 sm:px-12 2xl:px-0 gap-16 grid grid-cols-1 sm:grid-cols-2 lg:flex lg:flex-wrap justify-between'
  >
    <div class='flex flex-col gap-6 text-sm'>
      <a class='w-20' href='/'>
        <img class='w-full' src='/images/logo.svg' alt='' />
      </a>

      <div class='flex flex-col gap-3'>
        <div class='flex flex-col gap-2'>
          <div class='font-semibold text-zinc-300'>Head Office</div>
          <div class='flex flex-col gap-1 text-xs text-zinc-400 font-light'>
            <div>Norfolk House, Silbury Blvd.</div>
            <div>Milton Keynes, MK9 2AH</div>
            <div>United Kingdom</div>
          </div>
        </div>

        <div class='text-zinc-300 text-xs font-light'>
          Company registration: 08457399
        </div>

        <div class='text-zinc-300 text-xs font-light'>
          Copyright © JUXT LTD. 2012-2022
        </div>
      </div>
    </div>

    <div class='flex flex-col gap-6'>
      <div class='text-zinc-400 text-sm'>Sitemap</div>
      <div class='flex flex-col gap-4 font-light'>
        {pagesInFooter.map((page) => (
          <a
            class='text-zinc-100 text-xs capitalize hover:text-juxt transition-colors'
            href={page.url}
          >
            {page.label}
          </a>
        ))}
      </div>
    </div>

    <div class='flex flex-col gap-6'>
      <div class='text-zinc-400 text-sm'>Follow Us</div>
      <div class='flex flex-col gap-4 font-light'>
        <a
          class='group text-zinc-100 flex gap-2 items-center text-xs capitalize hover:text-juxt transition-colors'
          href='https://github.com/juxt'
        >
          <div class='w-4'>
            <GithubIcon
              className='fill-white group-hover:fill-juxt transition-all'
            />
          </div>
          <p>Github</p>
        </a>
        <a
          class='group text-zinc-100 flex gap-2 items-center text-xs capitalize hover:text-juxt transition-colors'
          href='https://www.linkedin.com/company/juxt-juxt-pro-/mycompany/'
        >
          <div class='w-4'>
            <LinkedInIcon
              className='fill-white group-hover:fill-juxt transition-all'
            />
          </div>
          <p>LinkedIn</p>
        </a>
        <a
          class='group text-zinc-100 flex gap-2 items-center text-xs capitalize hover:text-juxt transition-colors'
          href='https://twitter.com/juxtpro'
        >
          <div class='w-4'>
            <TwitterIcon
              className='fill-white group-hover:fill-juxt transition-all'
            />
          </div>
          <p>Twitter</p>
        </a>
      </div>

      <div class='text-zinc-400 text-sm'>Members</div>
      <div class='flex flex-col gap-4 font-light'>
        <a
          class='group text-zinc-100 flex gap-2 items-center text-xs capitalize hover:text-juxt transition-colors'
          href='https://juxt.land/login'
        >
          <div class='w-4 h-4'>
            <UserIcon
              className='fill-white group-hover:fill-juxt transition-all'
            />
          </div>
          <p>Login</p>
        </a>
      </div>
    </div>

    <div class='flex flex-col gap-6'>
      <div class='text-zinc-400 text-sm'>XTDB</div>
      <div class='flex flex-col gap-4 font-light'>
        <a
          class='group text-zinc-100 flex gap-2 items-center text-xs capitalize hover:text-juxt transition-colors'
          href='https://github.com/juxt'
        >
          <div class='w-20'>
            <img src='/images/xtdb-logo.svg' alt='XTDB' />
          </div>
        </a>
        <a
          class='group text-zinc-100 flex gap-2 items-center text-xs capitalize hover:text-juxt transition-colors'
          href='https://github.com/xtdb/xtdb'
        >
          <div class='w-4'>
            <GithubIcon
              className='fill-white group-hover:fill-juxt transition-all'
            />
          </div>
          <p>Github</p>
        </a>
        <a
          class='group text-zinc-100 flex gap-2 items-center text-xs capitalize hover:text-juxt transition-colors'
          href='https://juxt-oss.zulipchat.com/#narrow/stream/194466-xtdb'
        >
          <div class='w-4'>
            <ZulipIcon
              className='fill-white group-hover:fill-juxt transition-all'
            />
          </div>
          <p>Zulip</p>
        </a>
      </div>
    </div>
  </div>
</div>
