---
---

<div class='w-full text-white bg-black py-20'>
  <div
    class='mx-auto max-w-6xl px-4 sm:px-12 2xl:px-0 gap-12 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4'
  >
    <div class='flex flex-col gap-6 text-sm'>
      <div class='w-20'>
        <img class='w-full' src='/images/logo.svg' alt='' />
      </div>

      <div class='flex flex-col gap-3'>
        <div class='flex flex-col gap-2'>
          <div class='font-semibold text-zinc-300'>Head Office</div>
          <div class='flex flex-col gap-1 text-xs text-zinc-400 font-light'>
            <div>Norfolk House, Silbury Blvd.</div>
            <div>Milton Keynes, MK9 2AH</div>
            <div>United Kingdom</div>
          </div>
        </div>

        <div class='text-zinc-300 text-xs font-light'>
          Company registration: 08457399
        </div>

        <div class='text-zinc-300 text-xs font-light'>
          Copyright © JUXT LTD. 2012-2022
        </div>
      </div>
    </div>

    <div class='flex flex-col gap-3'>
      <div class='text-zinc-500'>Sitemap</div>
    </div>

    <div>three</div>

    <div>four</div>
  </div>
</div>
