---
import NavbarElement from './Navbar'
import AlertBanner from '@components/AlertBanner.astro'

export interface Props {
  navbarNoBg: boolean
}

export type Navigation = {
  label: string
  href: string
  target?: string
  style?: { active: string; normal: string }
}

const navigation = Object.values(import.meta.glob('../data/metadata.json', { eager: true })) as any[]

const [{ navbar }] = navigation

const { navbarNoBg } = Astro.props as Props

const url = new URL(Astro.request.url)
const currentPage = url.pathname

const pagesInNavbar = navbar.map((page) => ({
  label: page.label,
  href: page.href,
  target: page.target,
  style: page.style,
  active: page.href === currentPage
}))
---

<div class='fixed w-full z-50'>
  <AlertBanner />
  <NavbarElement
    client:visible
    navLinks={pagesInNavbar}
    navbarNoBg={navbarNoBg}
  />
</div>
