---
type NavLinkProp = {
  href: string
  label: string
  active?: boolean
}

const { label, href, active } = Astro.props as NavLinkProp
---

<a
  class:list={['hover:text-juxt transition-colors', { 'text-juxt': active }]}
  href={href}
>
  {label}
</a>
