---
import ContactUsFormNYCFintech25 from '@components/ContactUsFormNYCFintech25'
import { LinkedInIcon } from '@components/Icons'
import AssetImage from '@components/team/AssetImage.astro'
import NYCFintech25Agenda from '@components/NYCFintech25Agenda.astro'
import Layout from '@layouts/Layout.astro'
import speakers from '../data/xt24/speakers.json'

const { contactSubject } = Astro.props
---

<Layout
  title='Trading Systems in 2030'
  ogImage='/images/NYC.png'
  ogTitle='Trading Systems in 2023 | Fintech Meetup'
  ogDescription='Join Fintech Engineering Leaders to explore how AI and open source will shape the industry in the near future.'
>
  <!-- Background Section -->
  <div
    class='relative bg-cover bg-center'
    style="background-image: url('/images/NYC.jpg');"
  >
    <div class='absolute inset-0 bg-black opacity-50'></div>
    <div
      class='container max-w-6xl mx-auto flex flex-col text-white py-10 relative'
    >
      <!-- Header -->
      <div
        class='flex gap-4 sm:gap-8 items-center justify-center px-5 sm:px-10 w-full mx-auto max-w-screen-xl'
      >
        <div class='flex-none max-w-[45%] xs:max-w-[50%] sm:max-w-[400px] p-2'>
          <img
            src='/images/logo.svg'
            alt='JUXT Logo'
            class='w-full h-auto max-h-[70px] object-contain mx-auto flex-shrink-1'
          />
        </div>
        <div class='flex-none max-w-[45%] xs:max-w-[50%] sm:max-w-[500px] p-2'>
          <img
            src='/images/FINOS.png'
            alt='FINOS Logo'
            class='w-full h-auto max-h-[200px] object-contain mx-auto flex-shrink-1'
          />
        </div>
      </div>

      <!-- Main Content - Modified grid layout -->
      <div
        class='grid grid-cols-1 lg:grid-cols-2 p-5 sm:px-10 items-start gap-8'
      >
        {/* Left Column - Content */}
        <div>
          <h1 class='text-4xl md:text-5xl font-bold uppercase'>
            Trading Systems <br /> in 2030
          </h1>
          <h2 class='text-2xl font-bold mt-4'></h2>

          <div class='mt-8 relative'>
            <div class='absolute inset-0 bg-black opacity-50'></div>
            <div class='relative'>
              <p class='text-lg'>
                Over the next five years, AI, cloud platforms, and
                high-performance engineering will redefine financial trading.
                Firms that will fail to embrace quality data integration,
                scalable architectures, and modern engineering principles risk
                falling behind.
              </p>
              <div class='mt-4'>
                <p class='text-lg'>
                  Join fintech engineering leaders as they explore the key
                  trends shaping the future of trading, and connect with senior
                  developers leveraging open source, cloud-native platforms, and
                  cutting-edge languages like Rust and Kotlin to build
                  next-generation trading systems.
                </p>
              </div>
              <div class='mt-4'>
                <p class='text-lg'>
                  <strong
                    >And yes - there will be pizza, snacks, and beer!</strong
                  >
                </p>
              </div>
            </div>
          </div>
        </div>

        {/* Right Column - Registration Form */}
        <div
          class='bg-white text-black p-8 rounded-lg shadow-lg h-fit lg:sticky lg:top-10'
        >
          <h3 class='text-2xl font-bold mb-4 flex justify-center'>Join Us!</h3>
          <ContactUsFormNYCFintech25
            client:only
            subject={contactSubject || 'NYC Tech Meetup Registration'}
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class='bg-zinc-800 text-white py-5'>
    <div class='text-center text-xs sm:text-base mb-2'>
      <strong
        >WEDNESDAY, MARCH 5, 2025 | 5:30PM - 7:30PM | MIDTOWN MANHATTAN, NYC</strong
      >
    </div>
    <div class='text-center text-xs sm:text-base'>
      Venue location will be emailed to confirmed attendees
    </div>
  </div>

  <!-- Agenda -->
  <div id='agenda' class='bg-zinc-800 text-white py-10'>
    <div class='container max-w-6xl mx-auto px-5 sm:px-10'>
      <h2 class='uppercase text-juxt font-semibold sm:font-normal sm:text-xl'>
        Agenda
      </h2>
      <div class='flex flex-col pt-5'>
        <NYCFintech25Agenda />
      </div>
      <p class='font-thin text-sm pb-5'>
        *Please note agenda is subject to change
      </p>
    </div>
  </div>
</Layout>
