---
const agenda = [
  {
    time: '08:00 AM',
    title: 'Registration & Morning Coffee',
    subTitle: 'Please pick up your name tag at the JUXT registration desk before heading up to the Auditorium',
    isSpecialEvent: true
  },
  {
    time: '09:00 AM',
    title: 'Welcome to XT24',
    subTitle: 'Jon Pither | CEO & Co-founder | JUXT',
    isSpecialEvent: true
  },
  {
    time: '09:15 AM',
    title: 'AI: Unintended Consequences',
    subTitle: 'Francine Bennett | Interim Director & Board Member | Ada Lovelace Institute'
  },
  {
    time: '09:45 AM',
    title: 'Breaking the Bank with Contract Testing',
    subTitle: 'Allen Rohner | CTO & Founder | Griffin'
  },
  {
    time: '10:15 AM',
    title: 'Workflow Orchestration Automation for Fintech',
    subTitle: 'Phill Barber | Software Consultant | Credit Suisse'
  },
  {
    time: '10:45 AM',
    title: 'Coffee Break',
    isSpecialEvent: true
  },
  {
    time: '11:00 AM',
    title: 'Tales from the Buy-Side',
    subTitle: 'Kim Johannessen | CTO | Consulting & Advisory'
  },
  {
    time: '11:30 AM',
    title: 'Data Collaboration and Price Discovery for the Commodities Market',
    subTitle: [
      'Sebastian Ferraccù | CEO & Co-founder | Artis.Works',
      'Manpreet Babbra | CTO | Artis.Works'
    ]
  },
  {
    time: '12:00 PM',
    title: 'Lunch',
    isSpecialEvent: true
  },
  {
    time: '01:15 PM',
    title: 'Financial Use Cases for an Immutable Database',
    subTitle: [
      'Malcolm Sparks | CTO & Co-founder | JUXT',
      'Jeremy Taylor | Head of Product | XTDB'
    ]
  },
  {
    time: '01:45 PM',
    title: 'We Need to Talk About JSON',
    subTitle: 'Oliver Hine | Principal Consultant | JUXT'
  },
  {
    time: '02:15 PM',
    title: 'Coffee Break',
    isSpecialEvent: true
  },
  {
    time: '02:30 PM',
    title: "Simplifying All Things Money: Lessons Learnt Building a Bank from Scratch",
    subTitle: [
      'Vlad Yatsenko | CTO & Co-founder | Revolut',
      'Jon Pither | CEO & Co-founder | JUXT',
    ],
  },
  {
    time: '03:00 PM',
    title: 'XT28 Schedule: Future of Fintech — Expert Panel',
    subTitle: [
      'Jay Modha | Director | Citi',
      'Francine Bennett | Interim Director & Board Member | Ada Lovelace Institute',
      'Mark Burgess | Founder and Principal | ChiTek-i',
      'Malcolm Sparks | CTO & Co-founder | JUXT',
      'Moderator: Jason Bloomberg | Managing Partner | Intellyx'
    ]
  },
  {
    time: '03:45 PM',
    title: 'Not So Clever: How we Built a Global-Scale Successful Risk System Guided by Simplicity',
    subTitle: 'Zohar Melamed | Quantitative Technical Dir. | Qube RT'
  },
  {
    time: '04:15 PM',
    title: 'Networking Event',
    subTitle:
      'Afternoon of networking and mingling — with exclusive access to the venue’s Sky Bar, complete with drinks and food.',
    isSpecialEvent: true
  }
]
---

{
  agenda.map(({ time, title, subTitle, isSpecialEvent }) => (
    <div
      class:list={[
        'grid grid-cols-1 sm:grid-cols-5 sm:divide-x sm:divide-juxt',
        { 'bg-zinc-900': isSpecialEvent }
      ]}
    >
      <p class='px-5 pt-5 sm:p-5 font-semibold text-lg align-text-top'>
        {time}
      </p>
      <div class='px-5 pb-5 sm:p-5 sm:col-span-4'>
        <h2 class='font-light text-lg text-juxt uppercase'>{title}</h2>
        {(Array.isArray(subTitle) ? subTitle : [subTitle]).map((s) => (
          <p class='font-light text-lg'>{s}</p>
        ))}
      </div>
    </div>
  ))
}
