:root,
:root.light {
  --inputBackground: #fff;
  --inputBorderColor: #d1d5db;
  --inputColor: #1f2937;
  --inputCaretColor: #1f2937;
}
:root.dark {
  --inputBackground: #1f2937;
  --inputBorderColor: #374151;
  --inputColor: #e5e7eb;
  --inputCaretColor: #d1d5db;
}

.ais-SearchBox {
  width: 100%;
}

.ais-SearchBox-form {
  background-color: transparent;
  height: 2.8rem;
  max-width: 600px;
}

.ais-SearchBox-input {
  background-color: var(--inputBackground);
  border: 1px solid var(--inputBorderColor);
  border-radius: 0.375rem;
  box-shadow: none;
  color: var(--inputColor);
  caret-color: var(--inputCaretColor);
}

.ais-Hits {
  margin-top: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid var(--inputBorderColor);
  width: 24rem;
}
.ais-Hits--empty {
  display: none;
}

.ais-Hits-item {
  padding: 0.5rem 1rem;
  box-shadow: none;
  background-color: var(--inputBackground);
}

.dark .ais-Pagination-link {
  background: var(--inputBackground);
  color: var(--inputColor);
  border-color: #6b7280;
}

.dark .ais-Pagination-item--disabled .ais-Pagination-link {
  background: #374151;
  border-color: #6b7280;
}

.dark .ais-Pagination-item--selected .ais-Pagination-link {
  background: #374151;
  border-color: #6b7280;
  box-shadow: rgb(0 0 0 / 66%) 0 1px 7px 0 inset,
    rgb(0 0 0 / 40%) 0 1px 1px 0 inset, rgb(0 0 0 / 5%) 0 1px 0 0;
}

.dark .ais-Pagination-link:active {
  box-shadow: rgb(0 0 0 / 66%) 0 1px 7px 0 inset,
    rgb(0 0 0 / 40%) 0 1px 1px 0 inset, rgb(0 0 0 / 5%) 0 1px 0 0;
}

.dark
  .ais-Pagination-item:not(.ais-Pagination-item--selected):not(.ais-Pagination-item--disabled)
  .ais-Pagination-link:hover {
  background: #374151;
  border-color: #6b7280;
}
