.dark .prose :where(img):not(:where([class~='not-prose'] *)) {
  background: white;
}

.prose :where(code):not(:where([class~='not-prose'] *)) {
  color: var(--astro-code-token-string);
  background-color: var(--astro-code-color-background);
  padding-top: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0.2em;
  padding-left: 0.3em;
  border-radius: 0.2rem;
}

.prose :where(code):not(:where([class~='not-prose'] *))::before {
  content: '';
}

.prose :where(code):not(:where([class~='not-prose'] *))::after {
  content: '';
}

.prose a {
  word-break: break-all;
}

.prose span.pullquote:after {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'><path d='M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z' fill='black'/></svg>");
    content: attr(text-content);
    display: inline-block;
    float: right;
    font-size: 1.2em;
    font-style: italic;
    left: 1em;
    margin-top: 1.5em;
    padding: 2em 0em 1em 0em;
    position: relative;
    max-width: 40%;
}

.prose span.pullquote.left:after {
    float: left;
    left: -1em;
    padding: 2em 0em 1em 0em;
}

.dark .prose span.pullquote:after {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true'><path d='M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z' fill='white'/></svg>");
}
