.dark .prose :where(img):not(:where([class~='not-prose'] *)) {
  background: white;
}

.prose :where(code):not(:where([class~='not-prose'] *)) {
  color: var(--astro-code-token-string);
  background-color: var(--astro-code-color-background);
  padding-top: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0.2em;
  padding-left: 0.3em;
  border-radius: 0.2rem;
}

.prose :where(code):not(:where([class~='not-prose'] *))::before {
  content: '';
}

.prose :where(code):not(:where([class~='not-prose'] *))::after {
  content: '';
}

.prose a {
  word-break: break-all;
}
