:root,
:root.light {
  --astro-code-color-text: #94a3b8;
  --astro-code-color-background: #ccfbf1;
  --astro-code-token-constant: #4b5563;
  --astro-code-token-parameter: #ca8a04;
  --astro-code-token-string: #4b5563;
  --astro-code-token-comment: #4b5563;
  --astro-code-token-keyword: #7f1d1d;
  --astro-code-token-function: #d97706;
  --astro-code-token-string-expression: #06b6d4;
  --astro-code-token-punctuation: #6b7280;
  --astro-code-token-link: #ef4444;
}
:root.dark {
  --astro-code-color-text: #e0f2fe;
  --astro-code-color-background: #0b0e14;
  --astro-code-token-constant: #d1d5db;
  --astro-code-token-parameter: #f9fafb;
  --astro-code-token-string: #e5e7eb;
  --astro-code-token-comment: #4b5563;
  --astro-code-token-keyword: #f4901d;
  --astro-code-token-function: #fbbf24;
  --astro-code-token-string-expression: #fde68a;
  --astro-code-token-punctuation: #9ca3af;
  --astro-code-token-link: #fecaca;
}
