---
import Layout from './Layout.astro'

export interface Props {
  content: {
    title: string
    description: string
    publishDate: string
    heroImage?: {
      src: string
      alt: string
    }
  }
}

const {
  content: { title, description, publishDate, heroImage }
} = Astro.props as Props
---

<Layout navbar={true}>
  <main class='dark:bg-gray-900 transition-colors'>
    <article
      class='mx-auto prose prose-a:text-juxt hover:prose-a:text-black prose-a:transition-colors dark:prose-invert'
    >
      <slot></slot>
    </article>
  </main>
</Layout>
