---
export type CaseStudyProps = {
  title: string
  subtitle: string
  outcome: string[]
  tech: string[]
  image: string
  testimonial: { by: string; quote: string; role: string }
  pages: { [key: string]: { weight: number } }
}

const { title, subtitle, outcome, tech, testimonial, pages, image } =
  Astro.props as CaseStudyProps
---

<div class='transition-colors text-black'>
  {title}, {outcome}
</div>
