---
import Navbar from '../components/Navbar.astro'
import { capitalizeFirstLetter, removeLeadingSlash } from '../utils'

type LayoutProps = {
  title?: string
  navbar?: boolean
}

const url = new URL(Astro.request.url)
const currentPage = removeLeadingSlash(removeLeadingSlash(url.pathname))

const { title, navbar } = Astro.props as LayoutProps
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <link rel='stylesheet' href='/styles/inter.css' />
    <title>{title || capitalizeFirstLetter(currentPage)}</title>
  </head>
  <body>
    {navbar && <Navbar client:visible />}
    <slot></slot>
  </body>
</html>
