---
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
import type { PageProps } from '../components/Navbar.astro'
import { capitalizeFirstLetter, currentPage } from '../utils'

import '../shiki-theme.css'

type LayoutProps = {
  title?: string
  navbar?: boolean
  navbarNoBg?: boolean
}

const url = new URL(Astro.request.url)
const currentPageName = currentPage(url.pathname)

const pages = await Astro.glob<PageProps>('../pages/**/*.astro')
const isBlog = Astro.url.pathname.includes('/blog/')

const { title, navbar, navbarNoBg } = Astro.props as LayoutProps
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <!-- remove when we go public!! -->
    <meta name='robots' content='noindex' />

    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link href='/images/favicon.png' rel='shortcut icon' type='image/x-icon' />
    <link href='/images/favicon-apple.svg' rel='apple-touch-icon' />
    <link rel='stylesheet' href='/styles/inter.css' />

    <title>{title || capitalizeFirstLetter(currentPageName)}</title>
    <!-- This is intentionally inlined to avoid FOUC -->
    <script>
      const root = document.documentElement
      const theme = localStorage.getItem('theme')
      if (
        theme === 'dark' ||
        (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        root.classList.add('dark')
        document.documentElement.style.setProperty('color-scheme', 'dark')
      } else {
        document.documentElement.style.setProperty('color-scheme', 'light')
        root.classList.remove('dark')
      }
    </script>
  </head>
  <body
    class:list={[
      'bg-gray-50 transition-colors',
      { 'dark:bg-gray-900': isBlog }
    ]}
  >
    {navbar && <Navbar pages={pages} navbarNoBg={navbarNoBg} />}
    <div class:list={[{ 'pt-14': !navbarNoBg }]}>
      <slot />
      <Footer pages={pages} />
    </div>
  </body>
</html>
