---
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
import { capitalizeFirstLetter, currentPage } from '../utils'

import 'instantsearch.css/themes/satellite.css'
import '../algolia.css'

type LayoutProps = {
  title?: string
  navbar?: boolean
  navbarNoBg?: boolean
}

const url = new URL(Astro.request.url)
const currentPageName = currentPage(url.pathname)

const [{ metaDescription }] = await Astro.glob('../data/metadata.json')

const currentDescription = metaDescription[currentPageName]

const enableDarkMode =
  Astro.url.pathname.includes('/blog') ||
  Astro.url.pathname.includes('/clojure-in')

const { title, navbar, navbarNoBg } = Astro.props as LayoutProps
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    {currentDescription && (
      <meta name='description' content={currentDescription} />
    )}
    <meta name='viewport' content='width=device-width' />
    <link href='/images/favicon.png' rel='shortcut icon' type='image/x-icon' />
    <link href='/images/favicon-apple.svg' rel='apple-touch-icon' />
    <link rel='stylesheet' href='/styles/inter.css' />
    <link rel='stylesheet' href='/styles/global.css' />
    <link rel='stylesheet' href='/styles/katex.min.css' />

    <title>{title || capitalizeFirstLetter(currentPageName)}</title>
    <!-- This is intentionally inlined to avoid FOUC -->
    <script>
      const root = document.documentElement
      const theme = localStorage.getItem('theme')
      if (
        theme === 'dark' ||
        (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        root.classList.add('dark')
        document.documentElement.style.setProperty('color-scheme', 'dark')
      } else {
        document.documentElement.style.setProperty('color-scheme', 'light')
        root.classList.remove('dark')
      }
    </script>
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
    <script type='text/javascript'>
      var _paq = (window._paq = window._paq || [])
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['setCookieDomain', '*.juxt.pro'])
      _paq.push(['setDomains', ['*.juxt.pro', '*.www.juxt.pro']])
      _paq.push(['trackPageView'])
      _paq.push(['enableLinkTracking'])
      ;(function () {
        var u = '//bunseki.juxt.pro/'
        _paq.push(['setTrackerUrl', u + 'm.php'])
        _paq.push(['setSiteId', '2'])
        var d = document,
          g = d.createElement('script'),
          s = d.getElementsByTagName('script')[0]
        g.type = 'text/javascript'
        g.async = true
        g.src = u + '/js'
        s.parentNode.insertBefore(g, s)
      })()
    </script>
  </head>
  <body
    class:list={[
      'bg-gray-50 transition-colors',
      { 'dark:bg-gray-900': enableDarkMode }
    ]}
  >
    {navbar && <Navbar navbarNoBg={navbarNoBg} />}
    <div class:list={[{ 'pt-14': !navbarNoBg }]}>
      <slot />
      <Footer />
    </div>
  </body>
</html>
